h1
{
    font-size: 2em;
}

h2
{
    font-size: 1.2em;
}

h2:hover
{
    font-size: 1.21em;
    /*text-shadow: 1px 1px 10px;*/
}

.img_profil
{
    width: 200px;
    border: 4px rgb(231, 182, 107) solid;
    border-radius: 100%;
    box-shadow: 6px 6px 15px rgb(231, 182, 107);
}
