<header class="entete">
  <h1>CV Fabien PETIT</h1>
  <figure>
    <img class="img_profil" src="./assets/images/profilFabien.png" alt="Photo de profil de Fabien PETIT">
  </figure>
  
<section id="experiences">
  <h2>Experiences Professionnelles</h2>
  <div>
    <p>2018 à Aujourd'hui <strong>Consultant Infrastructure</strong> chez <em>PROSERVIA</em> à Nantes:</p>
    <ul>
      <li>Accompagnement aux changements des SI</li>
      <li>Qualification des demandes et proposition de solutions technique</li>
      <li>Mise en place d’offre de service</li>
      <li>Elaboration de document technique</li>
      <li>Veille technologique :
        <ul>
          <li>Développement de partenariat</li>
          <li>Séminaire</li>
          <li>Certification</li>
        </ul>
      </li>
      <li>Gestion d’incident N3</li>
    </ul>
  </div>
  <div>
    <p>2016 à 2018 <strong>Ingénieur système et réseaux</strong> chez <em>PROSERVIA</em> à Nantes en <em>alternance</em>:</p>
    <ul>
        <li>Accompagnement aux changements des SI</li>
        <li>Qualification des demandes et proposition de solutions technique</li>
        <li>Mise en place d’offre de service</li>
        <li>Elaboration de document technique</li>
        <li>Veille technologique :
          <ul>
            <li>Développement de partenariat</li>
            <li>Séminaire</li>
            <li>Certification</li>
          </ul>
        </li>
        <li>Gestion d’incident N3</li>
      </ul>
  </div>
  <div>
    <p>2012 à 2015 <strong>Administrateur système et outils</strong> chez <em>AG2R LA MONDIALE</em> à TOURS en <em>alternance</em></p>
    <ul>
      <li>Acteur principal du projet de <strong>Migration SCCM 2007 vers 2012</strong> :</li>
      <ul>
        <li>Modifications des scripts et outils pour la nouvelle plateforme</li>
        <li>Réécriture et importation des rapports de suivi des déploiements</li>
        <li>Mise en place d’une nouvelle normalisation des collections, séquences de tâches et des packages.</li>
        <li>Modification de la méthode de découverte de l’Active Directory ainsi que l’attribution des sites</li>
        <li>Mise à disposition du catalogue d’applications</li>
      </ul>
      <li>Administrateur <strong>SCCM 2007 & 2012</strong></li>
      <ul>
        <li>Gestion d’un parc informatique composé de 3600 postes</li>
        <li>Mise en place / Suivi des déploiements logiciels</li>
        <li>Génération de rapports personnalisés (SQL Reports Builder)</li>
        <li>Mise en place des profils métiers</li>
        <li>Optimisation de l’infrastructure</li>
      </ul>
      <li>Administrateur Active Directory 2008 R2</li>
      <li>Scripting Powershell</li>
      <li>Accompagnement des équipes Support Technique et Téléphonique</li>
      <li>Suivi des tâches quotidiennes ainsi que des projets par le biais d’un point d’activités mensuel</li>
      <li>Création de documentation technique</li>
      <li>Gestion d’incident N3</li>
    </ul>
  </div>
</section>

<section id="certifications">
  <h2>Certifications</h2>
  <p>
    <figure>

    </figure>
  </p>
</section>

<section id="diplomes">
  <h2>Diplômes</h2>
  <div>
    <p>2016 à 2018 <strong>Expert en informatique et système d’information (RNCP Niveau1)</strong> en <em>contrat de 
      professionnalisation</em> au sein de <em>l’EPSI Nantes</em></p>
  </div>
  <div>
      <p>2015 <strong>Licence Professionnelle Réseaux et Télécommunications</strong> mention « BIEN » en 
        <em>contrat d'apprentissage</em> à <em>l’IUT d’Angers</em></p>
  </div>
  <div>
      <p>2014 <strong>BTS Services Informatiques aux Organisations</strong> option <strong>Solutions d’infrastructure, systèmes et
          réseaux</strong> en <em>contrat de professionnalisation</em> à <em>ISCB, Notre Dame de la Riche</em> à <em>Tours</em></p>
  </div>
</section>

<section id="interet">
  <h2>Centres d'interets</h2>
</section>

